* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**Common**/
body {
    font-family: "Montserrat", serif;
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    background-color: #121212;
}

/**Main Container**/
.container {
    display: flex;
}

.left-side {
    background-color: #000000;
    width: 20vw;
}

.player {
    height: 15vh;
    background-color: #282828;

}
.title{
    background-color: red;
    height: 10vh;
    width: 80vw;
}
.playlist{
    display: flex;
    background-color: #151922;
    height: 80vh;
}