* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**Common**/
body {
    font-family: "Montserrat", serif;
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

span {
    display: none;
}

hr {
    display: none;
}

/**Main Container**/
.container {
    display: flex;
}

.left-side {
    background-color: #000000;
    width: 20vw;
}

.player {
    height: 15vh;
    background-color: #282828;

}

.title {
    background-color: #10131a;
    height: 15%;
    width: 80vw;
}

.playlist {
    background-color: #151922;
    height: 800px;
}
/**Left-Side TOP**/
.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.left-side img {
    width: 45px;
}

.logo img {
    padding: 10px 0px 30px 0px;
}

.logo .logo-big {
    display: none;
}

.menu img {
    width: 45px;
}

.menu ul li {
    padding-bottom: 15px;
}
/**LEFT-SIDE MID**/

.mid-left{
    color: #999999;
    margin-top: 90px;
    display: none;
}
.mid-left i{
    color: black;
}
.mid-left h3{
    color: #ffffff;
    text-transform: uppercase;
}
.mid-left p i{
    margin: 15px 15px 60px 0px;
    padding: 20px;
    background-color: #858585;
}
.mid-left ul {
    margin-bottom: 200px;
}
.mid-left ul li{
    padding-bottom: 15px;
}
/**LEFT-SIDE BOTTOM**/
.bottom-left-side {
    padding-bottom: 20px;
}

.bottom-left-side ul li {
    padding-bottom: 15px;
}

.profilo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #646464;
    overflow: hidden;
    color: #ffffff;
}

/******RESPONSIVE CODE ********/
@media screen and (min-width: 992px) {
    span {
        display: block;
    }

    .logo .logo-big {
        width: 15vw;
        display: block;
    }

    .logo-small {
        display: none;
    }

    .menu a {
        display: flex;
        align-items: center;
        gap: 10px;

    }
    .bottom-left-side a {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    hr {
        border: 1px solid #ffffff;
        margin: 5px 0 30px;
        display: block;
    }

    .left-side {
        align-items: normal;
        padding: 0px 30px;
    }
    .mid-left{
        display: block;
    }

}