* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**Common**/
body {
    font-family: "Montserrat", serif;
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
}
ul{
    list-style-type:none;
}
/**Main Container**/
.container {
    display: flex;
}

.left-side {
    background-color: #000000;
    width: 20vw;
}

.player {
    height: 15vh;
    background-color: #282828;

}

.title {
    background-color: #10131a;
    height: 10vh;
    width: 80vw;
}

.playlist {
    display: flex;
    background-color: #151922;
    height: 80vh;
}

/**Left-Side**/
.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-side img{
    width: 45px;
}
.logo img{
    padding: 10px 0px 30px 0px;
}

.logo .logo-big{
    display: none;
}
.menu img{
    width: 45px;
}
.menu ul li span{
    display: none;
}
.menu ul li{
    padding-bottom: 15px;
}
/******RESPONSIVE CODE ********/
@media screen and (min-width: 992px) {
    .logo .logo-big{
        width: 15vw;
        display: block;
    }
    .logo-small{
        display: none;
    }
}